<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
    <title>Lunchbox - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div id="page-container">
      <div id="content-wrap">
        <%- include('../layout/header') %>        
        
        <main>

   <!-- User name input -->
  <div>
    <form class="pure-form" action="/input">
      <label for="name"><i class="fa fa-key fa-lg"></i><b>Login</b></label>
      <input id="name" type="text" placeholder="Enter Name" name="name"/>
      <button id="topage2" onclick="submitInfo()" type="submit">submit <a href="input.ejs"><i class="fa fa-arrow-circle-right fa-lg"></i></a></button>
    </form>
  </div>


          <!-- Map -->
          <%- include('../layout/map') %>




          <!-- Homepage Hero goes at the top -->
          <!-- API info goes below -->

          <!-- Caits workspace for yelp -->
  <section id=yelp>
      <ul>
        <h1 id="restHeader">Suggestions: </h1>
        <% restaurant.forEach(obj => { %>
          <h2><%= obj.name %></h2>
          <li><%= obj.phone %></li>
          <li><%= obj.address %></li>
          <li><a href=<%=obj.url%>>Link to website</a></li>
        <% }) %>
      </ul>

    </section>
        
        </main>
        <div id="admin">
        <label for="psw"><b>Admin</b></label>
        <input id="pw" type="password" placeholder="Optional" name="psw"> <!-- maybe add required -->
      </div>
        
      </div>
      <%- include('../layout/footer') %>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <script src="js/index.js" type="text/javascript"></script>
    <!-- <script src="../../server.js" type="text/javascript"></script> -->

  </body>
</html>