<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
    <title>Lunch Box - Home</title>
  </head>
  <body>

    <div id="page-container">
      <div id="content-wrap">
        <%- include('../layout/header') %>
        
        
        <main>

    <!--ken's work space VV-->
    <!-- added / not working -->
    <img src="<%= map %>" alt="map" width="250px">

    <form action="">
      What is your name?:<br>
      <input type="text" name="firstname" value="Your name please"><br>
      <button id="topage2">click <a href="/input"></a></button>
    </form>

    <!--ken's work space ^^-->


          <!-- Homepage Hero goes at the top -->
          <!-- API info goes below -->

          <!-- Caits workspace for yelp -->
  <section>
      <ul>

        <% restaurant.forEach(obj => { %>
          <h2><%= obj.name %></h2>
          <li><%= obj.address %></li>
          <li><a href=<%=obj.url%>>Link to website</a></li>
        <% }) %>
      </ul>

    </section>
        
        </main>
      </div>
      <%- include('../layout/footer') %>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <script src="js/index.js" type="text/javascript"></script>
    <script src="../../server.js" type="text/javascript"></script>

  </body>
</html>