<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include('../layout/head') %>
    <title>Lunchbox - Input</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Permanent+Marker&display=swap" rel="stylesheet">  
  
    <script id="character-template" type="text/x-handlebars-template"> 
      <h1 class="character">{{'name'}}</h1>
      </script>
  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
        $(document).ready(function(){
        $("#namae").text(`${localStorage.getItem('setname')}'s`);
      });
      </script>
  
  <h1 id="namae">....</h1>
  
  
  </head>
  <body>

<h1 class="tempname"></h1>

    <div id="page-container">
      <div id="content-wrap">
        <%- include('../layout/header') %>
        <main>

          <!--ken's work space VV-->
          <h1><%= foo %></h1>
          <ul>
            <% for(var eatery of restaurants){ %>
              <% if(eatery.name === '7-11'){ %>
            <li><%= eatery.name %></li>
              <% } else { %>
            <li><%= eatery.name %></li>
                <% } %>
            <% } %>
          </ul>

          

          <!--ken's work space ^^-->

          <!-- Reuse Homepage Hero here or new image? -->
          <div id ="div-form">
            <form action = '/addRestaurant' method="post" id="new-lunchbox">
               <fieldset>
                  <legend>Restaurant Details</legend>
                  <label>User Name:
                  <input type="text" id="user-name" class="class-lunchbox" required />
                  </label></br>
                  <label>Restaurant Name:
                  <input type="text" id="res-name" class="class-lunchbox" required/>
                  </label></br>
                  <label>Walk Time:
                  <input type="number" id="walk-time"class="class-lunchbox" required>
                  </label></br>
                  <label id="wait">Wait Time:
                  <input type="number" id="wait-time"class="class-lunchbox" required>
                  </label></br>
                  Price:
                  <select id="price"class="class-lunchbox">
                     <option value="&#36;" class="class-lunchbox">Less than $10</option>
                     <option value="&#36;&#36;" class="class-lunchbox">$10 - $15</option>
                     <option value="&#36;&#36;&#36;" class="class-lunchbox">More than $15</option>
                  </select>
                  </br>
                  <span>Rating:</span>
                  <select id="rating"class="class-lunchbox">
                    <!-- Star sign refered from https://www.alt-codes.net/star_alt_code.php -->
                     <option value="&#9733;&#9734;&#9734;&#9734;" class="class-lunchbox">★☆☆☆</option>
                     <option value="&#9733;&#9733;&#9734;&#9734;" class="class-lunchbox">★★☆☆</option>
                     <option value="&#9733;&#9733;&#9733;&#9734;" class="class-lunchbox">★★★☆</option>
                     <option value="&#9733;&#9733;&#9733;&#9733;" class="class-lunchbox">★★★★</option>
                  </select>
                  </br>
                  <button id="um" type="submit" value="submit" class="class-lunchbox submitID" >Submit Only</button>
                  <button type="submit" value="submit" onclick="window.location = 'results';" class="class-lunchbox submitID" >Submit & Results</button>
                </label>
               </fieldset>
            </form>
          </div>
        </main>
      </div>
      <%- include('../layout/footer') %>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.2/handlebars.amd.js" type="text/javascript"></script>
    <script src="js/input.js" type="text/javascript"></script>
    
  </body>
</html>