<!DOCTYPE html>
<html lang="en">
  <head>
    
    
    <%- include('../layout/head') %>
    <title>Lunchbox - Results</title>
 </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <%- include('../layout/header') %>
        <main>
          <!-- Reuse Homepage Hero here or new image? -->
          <table id="lunchbox-table">
            <tr>
              <td id="resultHeader", colspan="7">
                Results
              </td>
            </tr>
            <tr>
              <!-- <th class="sort">ID</th> -->
              <th class="sort">User Name</th>
              <th class="sort">Restaraunt Name</thclass="sort">
              <th class="sort">Walk Time</th>
              <th class="sort">Wait Time</th>
              <th class="sort">Total Time</th>
              <th class="sort">Price</th>
              <th class="sort">Rating</th>
            </tr>
            <tbody id="lunchbox-table-body">

              <% for(let i = 0; i < results.length; i++) { %>
                <tr>
                <!-- <td><%= results[i].id %></td> -->
                <td><%= results[i].username %></td>
                <td><%= results[i].resname %></td>
                <td><%= results[i].walktime %></td>
                <td><%= results[i].waittime %></td>
                <td><%= results[i].totaltime %></td>
                <td><%= results[i].price %></td>
                <td><%= results[i].rating %></td>
                <td><a href="update/<%= results[i].id %>">Update</a></td>
              </tr>
              <% } %>


            </tbody>
          </table>
        </main>
      </div>
      <%- include('../layout/footer') %>
    </div>

    <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="js/results.js" type="text/javascript"></script>

    <!-- <script src="server.js" type="text/javascript"></script> -->


  </body>
</html>