<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layout/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lunchbox - Update</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="../../css/module.css">
    <link rel="stylesheet" href="../../css/state.css">
    <link rel="stylesheet" href="../../css/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Permanent+Marker&display=swap" rel="stylesheet"> 


</head>
<body>

        <div id="page-container">
          <div id="content-wrap">
            <%- include('../layout/header') %>
            <main>
    
              <!-- Reuse Homepage Hero here or new image? -->
              <div id ="div-form">
    
            <form action="/update/<%= results.id %>?_method=PUT" method = "post">
    
                   <fieldset>
    
                      <legend>Restaurant Details</legend>
                      <label>
                        User Name:
                        <input type="text" name="userName" value="<%- results.username %>"class="class-lunchbox" required />
                      </label>
                      <br />
                      <label>
                        Restaurant Name:
                        <input type="text" name="resName" value="<%- results.resname %>"class="class-lunchbox" required />
                      </label>
                      <br />
                      <label>
                        Walk Time:
                        <input type="number" name="walkTime" value="<%- results.walktime %>"class="class-lunchbox" required />
                      </label>
                      <br />
                      <label id="wait">
                        Wait Time:
                        <input type="number" name="waitTime" value="<%- results.waittime %>"class="class-lunchbox" required />
                      </label>
                      
                      <br />
    
                      Price:
                      <select name="price" class="class-lunchbox">
                         <option value="&#36;" class="class-lunchbox">Less than $10</option>
                         <option value="&#36;&#36;" class="class-lunchbox">$10 - $15</option>
                         <option value="&#36;&#36;&#36;" class="class-lunchbox">More than $15</option>
                      </select>
    
                      <br />
                      <span>Rating:</span>
                      <select name="rating" class="class-lunchbox">
                         <option value="&#9733;&#9734;&#9734;&#9734;" class="class-lunchbox">★☆☆☆</option>
                         <option value="&#9733;&#9733;&#9734;&#9734;" class="class-lunchbox">★★☆☆</option>
                         <option value="&#9733;&#9733;&#9733;&#9734;" class="class-lunchbox">★★★☆</option>
                         <option value="&#9733;&#9733;&#9733;&#9733;" class="class-lunchbox">★★★★</option>
                      </select>
    
                      </br>
    
                      <input type="submit" value="Update">
    
                      <!-- <button id="um" type="submit" value="submit" class="class-lunchbox submitID" >Submit Only</button>
                      <button type="submit" value="submit" onclick="window.location = 'results';" class="class-lunchbox submitID" >Submit & Results</button> -->
                    </label>
    
                   </fieldset>
                </form>
              </div>
            </main>
          </div>
          <%- include('../layout/footer') %>
        </div>
    
        <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.2/handlebars.amd.js" type="text/javascript"></script>
        <script src="js/input.js" type="text/javascript"></script>
    
</body>
</html>